@font-face {
  src: local('Ubuntu'),
    url('chora/assets/font/Ubuntu-Bold.ttf'),
    url('chora/assets/font/Ubuntu-BoldItalic.ttf'),
    url('chora/assets/font/Ubuntu-Italic.ttf'),
    url('chora/assets/font/Ubuntu-Light.ttf'),
    url('chora/assets/font/Ubuntu-LightItalic.ttf'),
    url('chora/assets/font/Ubuntu-Medium.ttf'),
    url('chora/assets/font/Ubuntu-MediumItalic.ttf'),
    url('chora/assets/font/Ubuntu-Regular.ttf');
}

:root {
  --color-bg: rgba(0, 0, 0, 0.9);
  --color-bg-solid: #000;
  --color-text: #FFF;
  --color-primary: #0CA;
  --header-height: 80px;
  --transition: 0.25s;
}

* {
  margin: 0;
  padding: 0;
}

html {
  cursor: default;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

p {
  line-height: 1.75;
}

a, a:active {
  color: var(--color-primary);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  opacity: 0.75;
}

button {
  background: var(--color-primary);
  border: none;
  border-radius: 1em;
  transition: var(--transition);
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}
