.page {
  composes: page-sidebar from 'chora/styles/page.css';
}

@media (max-width: 850px) {
  .page {
    padding: 1.5em !important;
  }
}

.page h1 {
  font-size: 2.5em;
  margin-bottom: 0.75em;
}

@media (max-width: 850px) {
  .page h1 {
    font-size: 1.5em;
    padding: 0 !important;
  }
}

.page h2 {
  opacity: 0.8;
  margin-bottom: 1em;
}

@media (max-width: 850px) {
  .page h2 {
    font-size: 1.2em;
  }
}

.page p {
  font-size: 1.1em;
  margin: 0.5em 0;
  text-underline-offset: 4px;
}

@media (max-width: 850px) {
  .page p {
    font-size: 1em;
  }
}

.beta {
  font-weight: 400;
  text-decoration: underline;
}
