.primary,
.secondary-transparent {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

.primary {
  background: var(--background-primary);
}

.secondary-transparent {
  background: var(--background-secondary-transparent);
}

.primary img,
.secondary-transparent img {
  height: 100vh;
  width: 100vw;
}
