/* connect */

.connect {
  display: flex;
  margin-right: 1em;
}

/* error */

.error {
  align-items: center;
  display: flex;
  color: var(--color-error);
  margin: 1em;
}

/* address */

.address {
  align-items: center;
  display: flex;
  margin: 0 1em;
}

/* form */

.form {
  align-items: center;
  display: flex;
}

.form select {
  margin: 1em;
  padding: 1em;
}

.form button {
  font-size: 0.9em;
  margin: 1em;
  padding: 0.5em;
  width: 110px;
}

/* connected */

.connected {
  background: none;
  border: 1px solid var(--color-theme);
  color: var(--color-theme);
}

.connected:hover {
  cursor: default;
  opacity: 1;
}
