div {
  text-align: center;
}

/* title */

.title {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.title div {
  margin: 1em;
}

/* button */

.button {
  display: block;
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 2em auto;
}

/* error */

.error {
  color: var(--color-error);
}
