/* header */

.header {
  background: rgba(10, 10, 10, 0.8);
  box-shadow: 0 0 4px rgba(100, 100, 100, 0.5);
  display: flex;
  height: var(--header-height);
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* menu */

.menu {
  display: flex;
}

.menu ul {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none inside none;
  margin-right: 4em;
}

.menu li {
  margin: 1em;
}

.menu a {
  font-weight: 400;
}
