.box {
  composes: box from '../../../../../node_modules/chora/styles/box.css';
}

.boxHeader {
  composes: box-header from '../../../../../node_modules/chora/styles/box.css';
}

.boxOptions {
  composes: box-options from '../../../../../node_modules/chora/styles/box.css';
}

.boxOptionActive {
  composes: box-option-active from '../../../../../node_modules/chora/styles/box.css';
}

.form {
  composes: form from '../../../../../node_modules/chora/styles/form.css';
}
