.page {
  composes: page from '../styles/page.css';
}

/* header */

.header {
  display: flex;
  justify-content: center;
  margin-top: var(--header-height);
}

.header div {
  margin: 1em;
}

/* content */

.content {
  display: flex;
  justify-content: center;
}
