.box {
  composes: box from "chora/styles/box.css";
}

.box-header {
  composes: box-header from "chora/styles/box.css";
}

.box-options {
  composes: box-options from "chora/styles/box.css";
}

.box-option-active {
  composes: box-option-active from "chora/styles/box.css";
}

.form {
  composes: form from "chora/styles/form.css";
}
