/* input */

.input button {
  background: none;
  color: var(--color-primary);
  font-size: 1em;
  margin: 0 1em;
}

.input button.active {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}
