.page {
  composes: page from 'chora/styles/page.css';
}

.banner {
  composes: banner from 'chora/styles/main.css';
}

.titleX {
  opacity: 0.75;
}

.buttonContainer {
  margin-top: 1.5em;
}

.button {
  composes: banner-button from 'chora/styles/main.css';
}

.content {
  composes: content from 'chora/styles/main.css';
  min-height: 60vh; /* not enough content */
}

.contentLinks {
  composes: content-links from 'chora/styles/main.css';
}
