/* container */

.container {
  border-bottom: 1px solid #333;
  padding: 2em 0;
}

.container:first-child {
  padding-top: 0;
}

.container:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

/* item */

.item {
  margin: 2em 0;
}

.item:first-child,
.item:last-child {
  margin: 0;
}

.item h3 {
  color: var(--color-primary);
}

.item p {
  margin: 0.5em 0;
}
