.box {
  composes: box from "../../styles/box.css";
}

.box-options {
  composes: box-options from "../../styles/box.css";
}

.box-option-active {
  composes: box-option-active from "../../styles/box.css";
}
