.box {
  composes: box from "../../styles/box.css";
}

.box-options {
  composes: box-options from "../../styles/box.css";
}

.box-result-above {
  composes: box-result-above from "../../styles/box.css";
}

.box-text {
  composes: box-text from "../../styles/box.css";
}
