/* container */

.container {
  color: #FFF !important;
  font-weight: 300 !important;
}

/* options */

.options {
  border-bottom: 1px solid #333;
  padding-bottom: 2em;
}

.options button {
  background: none;
  color: var(--color-primary);
  font-size: 1em;
  margin-right: 2em;
}

.options a,
.options button {
  font-weight: normal;
  margin-right: 1em;
}

.options button {
  background: none;
  color: var(--color-primary);
  font-size: 1em;
}

/* item */

.item {
  margin: 2em 0;
}

.item:first-child {
  margin-top: 0;
}

.item:last-child {
  margin-bottom: 0;
}

.item h3 {
  color: var(--color-primary);
}

.item p {
  margin: 0.5em 0;
}
