.page {
  composes: page from 'chora/styles/page.css';
}

.banner {
  composes: banner from 'chora/styles/main.css';
  padding: 2em 0 1em 0;
}

.content {
  composes: content from 'chora/styles/main.css';
}

.contentLinks {
  composes: content-links from 'chora/styles/main.css';
}

.button {
  composes: button from 'chora/styles/button.css';
}
