.header {
  composes: header from "chora/styles/header.css";
}

.title {
  composes: header-title from "chora/styles/header.css";
}

.menu {
  composes: header-menu from "chora/styles/header.css";
}

.menu select {
  border: none;
  box-shadow: none;
  height: 100%;
  margin-right: 2em;
  text-align: center;
}
