.header {
  composes: header from "chora/styles/header.css";
}

.title {
  composes: header-title from "chora/styles/header.css";
}

.network {
  align-items: center;
  display: flex;
  margin-right: 16px;
}

.network select {
  margin: 1em;
  padding: 1em;
}
