.box {
  composes: box from 'chora/styles/box.css';
}

.boxHeader {
  composes: box-header from 'chora/styles/box.css';
}

.boxOptions {
  composes: box-options from 'chora/styles/box.css';
}

.boxOptionActive {
  composes: box-option-active from 'chora/styles/box.css';
}

.form {
  composes: form from 'chora/styles/form.css';
}
