/* page */

.page {
  background: var(--background-secondary-transparent);
}

/* content */

.content {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  min-height: 100vh;
}

.content div {
  margin-bottom: 2%;
  padding: 0 2rem;
  text-align: center;
}

.content h1 {
  color: var(--color-theme);
  font-size: 2.5em;
}

.content h2 {
  font-style: italic;
}

.content h1,
.content h2 {
  margin: 0.5em 0;
}
