/* form */

.form label {
  display: block;
  margin-bottom: 2em;
}

.form input,
.form input:active,
.form textarea,
.form select {
  background: #111;
  box-shadow: 0 0 4px rgba(100, 100, 100, 0.5);
  border: none;
  color: #FFF;
  display: block;
  margin: 1em 0;
  outline: none;
  padding: 1em;
}

.form input {
  width: 50em;
}

.form textarea {
  height: 30em;
  width: 50em;
}

.form button {
  display: block;
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 3em 0 2em 0;
}

/* error */

.error {
  color: var(--color-error);
}
