.container {
  background: var(--color-bg);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
}

/* banner */

.banner {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.banner div {
  padding: 0 2rem;
  text-align: center;
}

.banner h1,
.banner h2 {
  margin: 0 0 1rem 0;
  padding: 0.75rem 0;
}

@media (max-width: 850px) {

  .banner {
    font-size: 1.2rem;
  }
}
