.sidebar {
  composes: sidebar from 'chora/styles/sidebar.css';
}

.active {
  composes: active from 'chora/styles/sidebar.css';
}

.mobileOnly {
  display: none;
}

@media (max-width: 850px) {
  .mobileOnly {
    display: block;
  }
}
