.infoButton {
  composes: info-button from '@styles/module.css';
}

.infoBox {
  composes: info-box from '@styles/module.css';
}

.inactive a {
  color: var(--color-text) !important;
  font-weight: 300 !important;
}

.inactive a:hover {
  opacity: 1 !important;
}
