/* container */

.container {
  display: flex;
  justify-content: center;
}

/* table */

.table {
  border-collapse: collapse;
  margin: 2em;
}

.table thead {
  color: var(--color-primary);
  font-style: italic;
}

.table th,
.table td {
  padding: 1.25em;
  text-align: center;
}

@media (max-width: 1250px) {

  .table {
    display: flex;
  }

  .table thead td {
    display: block;
  }

  .table tbody td {
    display: block;
  }
}

/* jailed */

.jailed {
  opacity: 0.5;
}

/* error */

.error {
  color: var(--color-error);
}
