/* box */

.box {
  composes: box from "chora/styles/box.css";
  display: flex;
  justify-content: center;
  margin-top: var(--header-height);
}

.box h2 {
  margin-top: 20px;
  text-align: center;
}

/* table */

.table {
  border-collapse: collapse;
  margin: 2em;
}

.table thead {
  color: var(--color-theme);
  font-style: italic;
}

.table th,
.table td {
  max-width: 12em;
  padding: 1.25em;
  text-align: center;
}

@media (max-width: 1250px) {

  .table {
    display: flex;
  }

  .table thead td {
    display: block;
  }

  .table tbody td {
    display: block;
  }
}

/* jailed */

.jailed {
  opacity: 0.5;
}

/* error */

.error {
  color: var(--color-error);
}
