/* container */

.container {
  display: flex;
  justify-content: center;
}

.container table {
  border-collapse: collapse;
  margin: 2em;
}

.container thead {
  color: var(--color-primary);
  font-style: italic;
}

.container th, td {
  border: 1px solid rgba(100, 100, 100, 0.25);
  padding: 1em;
}

.container div {
  margin: 1em;
}

@media (max-width: 1250px) {

  .container table {
    display: flex;
  }

  .container thead td {
    display: block;
  }

  .container tbody td {
    display: block;
  }
}

/* jailed */

.jailed {
  opacity: 0.5;
}

/* error */

.error {
  color: var(--color-error);
}
