/* box */

.box {
  background: var(--background-primary);
  box-shadow: var(--box-shadow);
  margin: 2em 0;
  padding: 2em;
  scroll-margin-top: calc(var(--header-height) + 2em);
}

@media (max-width: 850px) {
  .box {
    margin: 0;
    padding: 1.5em;
  }
}

/* box-header */

.box-header {
  border-bottom: 1px solid var(--box-shadow-color);
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.box-header h2 {
  color: var(--color-theme);
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.box-header p {
  font-style: italic;
}

/* box-options */

.box-options {
  border-bottom: 1px solid var(--box-shadow-color);
  margin-bottom: 2em;
  padding-bottom: 2em;
}

@media (max-width: 850px) {
  .box-options {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
  }
}

.box-options a,
.box-options button {
  background: none;
  color: var(--color-theme);
  margin-right: 1.5em;
}

/* box-option-active */

.box-option-active {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

/* box-result-above */

.box-result-above {
  border-bottom: 1px solid var(--box-shadow-color);
  padding-bottom: 2em;
}

/* box-result-below */

.box-result-below {
  border-top: 1px solid var(--box-shadow-color);
  padding-top: 2em;
}

/* box-item */

.box-item {
  border-bottom: 1px solid var(--box-shadow-color);
  margin-top: 2em;
  padding-bottom: 2em;
}

@media (max-width: 850px) {
  .box-item {
    margin-top: 1.5em;
  }
}

.box-item:first-child {
  margin-top: 0;
}

.box-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

@media (max-width: 850px) {
  .box-item:last-child {
    padding-bottom: 1.5em;
  }
}

/* box-item-sub */

.box-item-sub {
  border-top: 1px solid var(--box-shadow-color);
  padding-top: 2em;
  margin-bottom: 2em;
}

.box-item-sub:last-child {
  margin-bottom: 0;
}

/* box-text */

.box-text {
  margin: 2em 0;
}

.box-text:first-child {
  margin-top: 0;
}

.box-text:last-child {
  margin-bottom: 0;
}

.box-text h3 {
  color: var(--color-theme);
  margin: 0.5em 0;
}

@media (max-width: 850px) {
  .box-text p {
    overflow-x: scroll;
  }
}
