.button {
  background: var(--color-theme);
  border: none;
  border-radius: 1em;
  color: var(--background-primary);
  font-family: var(--font-family);
  font-size: 1em;
  outline: none;
  padding: 0.5em 1em;
  transition: var(--transition);
}

.button:hover {
  cursor: pointer;
  opacity: 0.75;
}
