/* form */

.form {
  margin-bottom: 1em;
}

.form label {
  display: block;
  margin-bottom: 2em;
}

.form input,
.form textarea,
.form select {
  display: block;
  margin: 1em 0;
  padding: 1em;
}

.form input {
  width: 50em;
}

@media (max-width: 850px) {
  .form input {
    width: calc(100% - 2em);
  }
}

.form select {
  min-width: 10em;
}

@media (max-width: 850px) {
  .form select {
    width: calc(100% - 2em);
  }
}

.form textarea {
  height: 12em;
  overflow-x: scroll;
  width: 50em;
}

@media (max-width: 850px) {
  .form textarea {
    width: calc(100% - 2em);
  }
}

.form button {
  padding: 0.5em 1em;
  margin-right: 1em;
}

@media (max-width: 850px) {
  .form button {
    display: block;
    margin: 1em auto;
    width: 100%;
  }
}

.form button[disabled] {
  opacity: 0.25;
}

.form button[disabled]:hover {
  cursor: default;
  opacity: 0.25 !important;
}

.form hr {
  margin: 2em 0;
}
