/* form */

.form label {
  display: block;
  margin-bottom: 2em;
}

.form input,
.form textarea,
.form select {
  display: block;
  margin: 1em 0;
  padding: 1em;
}

.form input {
  width: 50em;
}

@media (max-width: 850px) {
  .form input {
    width: calc(100% - 2em);
  }
}

.form select {
  min-width: 10em;
}

@media (max-width: 850px) {
  .form select {
    width: calc(100% - 2em);
  }
}

.form textarea {
  height: 12em;
  overflow-x: scroll;
  width: 50em;
}

@media (max-width: 850px) {
  .form textarea {
    width: calc(100% - 2em);
  }
}

.form button {
  display: block;
  padding: 0.5em 1em;
  margin: 3em 0 2em 0;
}

.form hr {
  margin: 2em 0;
}
