/* form */

.form {
  overflow: hidden;
}

@media (max-width: 850px) {
  .form {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.form label {
  display: block;
  margin-bottom: 2em;
}

.form input,
.form textarea,
.form select {
  display: block;
  margin: 1em 0;
  padding: 1em;
}

.form input {
  width: 50em;
}

.form select {
  min-width: 10em;
}

.form textarea {
  height: 12em;
  width: 50em;
}

.form button {
  display: block;
  padding: 0.5em 1em;
  margin: 3em 0 2em 0;
}

.form hr {
  margin: 2em 0;
}
