/* header */

.header {
  background: var(--background-primary);
  box-shadow: var(--box-shadow);
  height: var(--header-height);
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header > div {
  display: flex;
  height: inherit;
  justify-content: space-between;
  margin: 0 2em;
}

/* header-title */

.header-title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-title a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-title img {
  height: 36px;
  width: 36px;
}

@media (max-width: 850px) {
  .header-title img {
    height: 27px;
    width: 27px;
  }
}

.header-title div {
  color: var(--color-text);
  font-size: 20px;
  margin-left: 8px;
}

@media (max-width: 850px) {
  .header-title div {
    font-size: 15px;
    margin-left: 6px;
  }
}

/* header-menu */

.header-menu {
  display: flex;
  height: var(--header-height);
}

@media (max-width: 850px) {
  .header-menu > div {
    display: none;
  }
}

.header-menu ul {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none inside none;
  margin: 0 1em;
}

@media (max-width: 850px) {
  .header-menu ul {
    display: none;
  }
}

.header-menu li {
  margin: 0.6em;
}

/* header-divider */

.header-divider {
  color: var(--color-theme);
}
