@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/font/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: normal;
  src: url('../assets/font/Ubuntu-Italic.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/font/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: bold;
  src: url('../assets/font/Ubuntu-BoldItalic.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/font/Ubuntu-Light.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/font/Ubuntu-LightItalic.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/font/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: url('../assets/font/Ubuntu-MediumItalic.ttf');
}

:root {
  --color-error: rgb(245, 45, 45);
  --color-theme: rgb(0, 195, 165);
  --font-family: 'Ubuntu', sans-serif;
  --footer-height: 160px;
  --header-height: 80px;
  --sidebar-width: 240px;
  --transition: 0.25s;

  /* light theme */
  --background-primary: rgb(255, 255, 255);
  --background-primary-transparent: rgba(255, 255, 255, 0.98);
  --background-secondary: rgb(250, 250, 250);
  --background-secondary-transparent: rgba(250, 250, 250, 0.98);
  --box-shadow: 0 0 4px rgb(245, 245, 245);
  --box-shadow-color: rgb(245, 245, 245);
  --color-text: rgb(10, 10, 10);
  --color-text-placeholder: rgba(10, 10, 10, 0.5);
}

.dark-theme {
  --background-primary: rgb(17, 17, 17);
  --background-primary-transparent: rgba(17, 17, 17, 0.98);
  --background-secondary: rgb(22, 22, 22);
  --background-secondary-transparent: rgba(22, 22, 22, 0.98);
  --box-shadow: 0 0 4px rgb(27, 27, 27);
  --box-shadow-color: rgb(27, 27, 27);
  --color-text: rgb(245, 245, 245);
  --color-text-placeholder: rgba(245, 245, 245, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

html {
  cursor: default;
}

body {
  font-family: var(--font-family);
  font-weight: 300;
  overflow-x: hidden;
}

main {
  color: var(--color-text);
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

p {
  line-height: 1.75;
}

a, a:active {
  color: var(--color-theme);
  font-weight: 400;
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  opacity: 0.75;
}

button {
  background: var(--color-theme);
  border: none;
  border-radius: 1em;
  color: var(--background-primary);
  font-family: var(--font-family);
  font-size: 1em;
  outline: none;
  transition: var(--transition);
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

input,
textarea,
select {
  background: var(--background-primary);
  border: none;
  box-shadow: var(--box-shadow);
  color: var(--color-text);
  font-family: var(--font-family);
  outline: none;
}

textarea {
  line-height: 1.5;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-text-placeholder);
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}
