/* page */
/* page-center */
/* page-with-footer */
/* page-with-sidebar */

.page,
.page-center,
.page-with-footer,
.page-with-sidebar {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

/* page-center */

.page-center {
  align-items: center;
  background: var(--background-primary);
  text-align: center;
}

/* page-with-footer */

.page-with-footer {
  margin-bottom: var(--footer-height);
}

/* page-with-sidebar */

.page-with-sidebar {
  padding-left: var(--sidebar-width);
}

@media (max-width: 850px) {
  .page-with-sidebar {
    padding-left: 0;
  }
}

/* page */
/* page-with-footer */
/* page-with-sidebar */

.page h1,
.page-with-footer h1,
.page-with-sidebar h1 {
  margin-bottom: 1.5em;
}

.page > div,
.page-with-footer > div,
.page-with-sidebar > div {
  margin-top: var(--header-height);
  padding: 4em;
}

@media (max-width: 850px) {
  .page > div,
  .page-with-footer > div,
  .page-with-sidebar > div {
    padding: 2em;
  }
}

/* page-center */

.page-center h1 {
  color: var(--color-theme);
}

.page-center h1,
.page-center h2 {
  margin: 0.5em 0;
}

.page-center > div {
  margin-bottom: 2.5%;
}
