/* page */
/* page-with-footer */
/* page-with-sidebar */
/* page-not-found */

.page,
.page-with-footer,
.page-with-sidebar,
.page-not-found {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* page-with-footer */

.page-with-footer {
  margin-bottom: var(--footer-height);
}

/* page-with-sidebar */

.page-with-sidebar {
  padding-left: var(--sidebar-width);
}

/* page-not-found */

.page-not-found {
  align-items: center;
  text-align: center;
}

/* page */
/* page-with-footer */
/* page-with-sidebar */

.page h1,
.page-with-footer h1,
.page-with-sidebar h1 {
  margin-bottom: 1.5em;
}

.page > div,
.page-with-footer > div,
.page-with-sidebar > div {
  margin-top: var(--header-height);
  padding: 4em;
}

/* page-not-found */

.page-not-found h1 {
  color: var(--color-theme);
}

.page-not-found h1,
.page-not-found h2 {
  margin: 0.5em 0;
}

.page-not-found > div {
  margin-bottom: 2.5%;
}
