/* page */

.page {
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

/* page-center */

.page-center {
  composes: page;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.page-center > div {
  margin-bottom: 10vh;
}

/* page-center-faucet */

.page-center-faucet {
  composes: page-center;
  background: var(--background-primary);
  min-height: calc(100vh - var(--header-height));
}

/* page-center-not-found */

.page-center-not-found {
  composes: page-center;
  background: var(--background-primary);
}

@media (max-width: 850px) {
  .page-center-not-found {
    padding: 0 1.5em;
  }
}

.page-center-not-found h1 {
  color: var(--color-theme);
  font-size: 3em;
  margin-bottom: 0.25em;
}

@media (max-width: 850px) {
  .page-center-not-found h1 {
    font-size: 2em;
  }
}

.page-center-not-found h2 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

@media (max-width: 850px) {
  .page-center-not-found h2 {
    font-size: 1.25em;
  }
}

.page-center-not-found p {
  font-style: italic;
}

/* page-sidebar */

.page-sidebar {
  composes: page;
  margin-left: var(--sidebar-width);
  min-height: calc(100vh - var(--header-height) - 4em);
  padding: 2em 3em;
}

@media (max-width: 850px) {
  .page-sidebar {
    margin-left: 0;
    padding: 0;
  }

  .page-sidebar h1 {
    font-size: 1.5em;
    padding: 1em;
  }
}

/* page-sidebar-landing */

.page-sidebar-landing {
  composes: page-sidebar;
}

@media (max-width: 850px) {
  .page-sidebar-landing {
    padding: 1.5em;
  }
}

.page-sidebar-landing h1 {
  font-size: 2.5em;
  margin-bottom: 0.75em;
}

@media (max-width: 850px) {
  .page-sidebar-landing h1 {
    font-size: 1.5em;
    padding: 0;
  }
}

.page-sidebar-landing h2 {
  opacity: 0.8;
  margin-bottom: 1em;
}

@media (max-width: 850px) {
  .page-sidebar-landing h2 {
    font-size: 1.2em;
  }
}

.page-sidebar-landing p {
  font-size: 1.1em;
  margin: 0.5em 0;
  text-underline-offset: 4px;
}

@media (max-width: 850px) {
  .page-sidebar-landing p {
    font-size: 1em;
  }
}

/* page-sidebar-not-found */

.page-sidebar-not-found {
  composes: page-center-not-found;
  margin-left: var(--sidebar-width);
  min-height: calc(100vh - var(--header-height));
}

@media (max-width: 850px) {
  .page-sidebar-not-found {
    margin-left: 0;
  }
}
