/* sidebar */

.sidebar {
  background: var(--background-primary);
  box-shadow: var(--box-shadow);
  height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  overflow-y: scroll;
  position: fixed;
  scrollbar-width: none; /* Firefox */
  width: var(--sidebar-width);
  z-index: 1;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.sidebar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media (max-width: 850px) {
  .sidebar {
    display: none;
  }
}

.sidebar ul {
  list-style: none;
  padding: 2em;
}

.sidebar li {
  font-size: 1.25em;
  font-weight: 400;
  padding: 0.8em;
}

.sidebar ul ul {
  font-size: 0.85em;
  padding: 0 0 0 0.85em;
}

/* active */

.active {
  font-weight: 500;
}
