/* table-container */

.table-container {
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none; /* hide scrollbar - Firefox */
  -ms-overflow-style: none; /* hide scrollbar - Internet Explorer 10+ */
}

.table-container::-webkit-scrollbar {
  display: none; /* hide scrollbar - Safari and Chrome */
}

/* table */

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td {
  border: 1px solid var(--box-shadow-color);
  padding: 1em;
}

@media (max-width: 850px) {
  .table td {
    white-space: nowrap;
  }
}

.table thead {
  color: var(--color-text-placeholder);
}

.table thead > tr {
  text-wrap: nowrap;
}

.table tbody > tr {
  opacity: 0.9;
}

.table tbody > tr:hover {
  opacity: 1;
  transition: var(--transition);
}
