/* container */

.container {
  display: flex;
  justify-content: center;
  margin-top: var(--header-height);
  width: 100vw;
}

.container h1 {
  text-align: center;
}

.container p {
  padding-top: 2em;
  text-align: center;
}

/* table */

.table {
  border-collapse: collapse;
  margin: 2em;
}

.table thead {
  color: var(--color-theme);
  font-style: italic;
}

.table th,
.table td {
  padding: 1.25em;
  text-align: center;
}

@media (max-width: 1250px) {

  .table {
    display: flex;
  }

  .table thead td {
    display: block;
  }

  .table tbody td {
    display: block;
  }
}
