/* header */

.header {
  display: flex;
  justify-content: center;
  margin-top: var(--header-height);
}

.header div {
  margin: 1em;
}

/* modules */

.modules {
  display: flex;
  justify-content: center;
}
