.infoButton {
  background: none;
  color: var(--color-theme);
  margin-left: 2em;
}

@media (max-width: 850px) {
  .infoButton {
    display: block;
    margin: 0 1.5em 1.5em 1.5em;
  }
}

.box {
  composes: box from 'chora/styles/box.css';
}

.box ul {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 850px) {
  .box ul {
    display: block;
  }
}

.box li {
  flex: 1 0 calc(50% - 2em);
  margin: 1em;
}

@media (max-width: 850px) {
  .box li {
    margin: 2em;
  }
}

.inactive a {
  color: var(--color-text) !important;
  font-weight: 300 !important;
}

.inactive a:hover {
  opacity: 1 !important;
}
