.background {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

.background {
  background: var(--background-primary);
}

.background img {
  scale: 65%;
}
