.primary,
.secondary-transparent {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

.primary {
  background: var(--background-primary);
}

.secondary-transparent {
  background: var(--background-secondary-transparent);
}

.primary img,
.secondary-transparent img {
  scale: 65%;
}
