.header {
  composes: header from 'chora/styles/header.css';
}

.menu {
  composes: header-menu from 'chora/styles/header.css';
}

.divider {
  composes: header-divider from 'chora/styles/header.css';
}

.button {
  background: none;
}

@media (min-width: 850px) {
  .buttonMobile {
    composes: button;
    display: none !important;
  }
}
