.header {
  composes: header from 'chora/styles/header.css';
}

.menu {
  composes: header-menu from 'chora/styles/header.css';
}

.menu > form {
  margin-right: 0.75em;
}

.menu > button {
  margin: 0 0.75em;
}

@media (min-width: 850px) {
  .showOnMobile {
    display: none !important;
  }
}

.form {
  composes: form from 'chora/styles/form.css';
  margin: 0.25em;
}

.error {
  color: var(--color-error);
}
