.sidebar {
  composes: sidebar from 'chora/styles/sidebar.css';
  min-height: calc(100vh - var(--header-height));
  width: 100vw;
}

.divider {
  margin: 1em 0;
}

/* cancel sidebar styling */
@media (max-width: 850px) {
  .sidebar {
    display: block !important;
  }
}

@media (min-width: 850px) {
  .sidebar {
    display: none !important;
  }
}

.button {
  background: none;
  color: var(--color-theme);
}
