.sidebar {
  composes: sidebar from 'chora/styles/sidebar.css';
  right: 0;
  width: calc(2 * var(--sidebar-width));
}

@media (max-width: 850px) {
  .sidebar {
    min-height: calc(100vh - var(--header-height));
    width: 75vw;
  }
}

.sidebar > div {
  margin: 2em;
}

@media (max-width: 850px) {
  .sidebar > div {
    margin: 1.5em;
  }
}

.sidebar i {
  color: var(--color-theme);
}

.sidebar p {
  margin: 1em;
}

@media (max-width: 850px) {
  .sidebar p {
    overflow-x: scroll;
  }
}

.form {
  composes: form from 'chora/styles/form.css';
}

.button {
  margin: 1em;
  padding: 0.5em 1em;
}

.hidden {
  display: none;
}

.error {
  color: var(--color-error);
}
