.sidebar {
  composes: sidebar from 'chora/styles/sidebar.css';
  right: 0;
  width: calc(2 * var(--sidebar-width));
}

.sidebar i {
  color: var(--color-theme);
  display: block;
  margin: 2em 2em 1em 2em;
}

.sidebar p {
  margin: 1em 2em;
}

.form {
  composes: form from 'chora/styles/form.css';
}

.button {
  margin-right: 1em;
  padding: 0.5em 1em;
}

.hidden {
  display: none;
}
