/* member */

.member label:first-child {
  margin-top: 2em;
}

/* options */

.options {
  display: flex;
  margin-bottom: 2em;
}

.options button {
  background: none;
  color: var(--color-primary);
  margin: 1em 0 !important;
}
