.container {
  composes: container from 'chora/styles/main.css';
}

.banner {
  composes: banner from 'chora/styles/main.css';
}

.content {
  composes: content from 'chora/styles/main.css';
}

.contentLinks {
  composes: content-links from 'chora/styles/main.css';
}
