.page {
  composes: page-center from 'chora/styles/page.css';
  background: var(--background-primary) !important;
}

@media (max-width: 850px) {
  .page {
    display: none;
  }
}

.mobile {
  composes: page-no-mobile from 'chora/styles/page.css';
}
