.page {
  composes: page-with-sidebar from "chora/styles/page.css";
}

.box {
  composes: box from "chora/styles/box.css";
  background: none;
  box-shadow: none;
}

.boxTable {
  border-top: 1px solid var(--box-shadow-color);
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  padding-top: 2em;
}

.boxTable li {
  flex: 1 0 calc(50% - 2em);
  margin: 1em;
}
