.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 15vw;
  min-height: 100vh;
  overflow-x: hidden;
  width: 85vw;
}

.container h1 {
  margin-bottom: 2em;
}