/* container */

.container {
  background: var(--color-bg);
}

/* content */

.content {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.content div {
  padding: 0 2rem;
  text-align: center;
  width: 20rem;
}

.content h3 {
  padding: 0.75rem 0;
}

.content p {
  padding: 0.5rem 0;
}

.content i {
  color: var(--color-primary);
}

@media (max-width: 850px) {

  .content {
    font-size: 1.2rem;
  }
}

/* error */

.error {
  color: var(--color-error);
}
