.box {
  composes: box from "../../styles/box.css";
}

.box-item {
  composes: box-item from "../../styles/box.css";
}

.box-text {
  composes: box-text from "../../styles/box.css";
}

.box-item-sub {
  composes: box-item-sub from "../../styles/box.css";
}

.box {
  margin: 3em 0;
  width: 70vw;
}