.info div {
  margin-bottom: 2em;
  margin-top: 1em;
}

.info h4 {
  margin-bottom: 1em;
}

.info p {
  margin-left: 1em;
}

@media (max-width: 850px) {
  .info p {
    overflow-x: scroll;
    padding: 0.5em 0;
    white-space: nowrap;
  }
}

.info a {
  display: inline-block;
  padding: 1em;
}

.error {
  color: var(--color-error);
}
