/* box */

.box {
  composes: box from "chora/styles/box.css";
  margin-bottom: 200px;
}

.box h2 {
  margin: 1em auto;
  text-align: center;
}

/* form */

.form {
  composes: form from "chora/styles/form.css";
  align-items: center;
  display: flex;
  justify-content: center;
}

.form label {
  margin: 0;
}

.form input {
  max-width: 600px;
}

.form button {
  margin: auto 0 auto 1em;
}

/* result */

.result {
  margin: 2em auto;
  text-align: center;
}