/* container */

.container {
  background: var(--background-primary-transparent);
  width: 100vw;
}

/* section-main */

.section-main {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.section-main div {
  margin-bottom: 2%;
}

.section-main h1 {
  padding: 0.75rem 0;
}

.section-main p {
  padding: 0.5rem 0;
}

.section-main p > i {
  color: var(--color-theme);
}

@media (max-width: 850px) {

  .section-main {
    font-size: 1.2rem;
  }
}

/* section-text */

.section-text {
  align-items: center;
  background: var(--background-primary);
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  min-height: 100vh;
}

@media (max-width: 850px) {

  .section-text {
    font-size: 1rem;
  }
}

.section-text div {
  display: block;
  margin-bottom: 5%;
  max-width: 650px;
  padding: 2rem;
}

.section-text div p {
  padding: 1rem 0;
}

@media (max-width: 850px) {

  .section-text div {
    padding: 2rem;
  }
}

/* section-text-links */

.section-text-links {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.section-text-links a {
  padding: 1rem;
}
