/* container */

.container {
  background: var(--color-bg);
}

/* section-main */

.section-main {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.section-main div {
  margin-bottom: 2%;
  padding: 0 2rem;
  text-align: center;
}

.section-main h1 {
  padding: 0.75rem 0;
}

.section-main p {
  padding: 0.5rem 0;
}

.section-main i {
  color: var(--color-primary);
}

@media (max-width: 850px) {

  .section-main {
    font-size: 1.2rem;
  }
}

/* section-text */

.section-text {
  align-items: center;
  background: #000;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

@media (max-width: 850px) {

  .section-text {
    font-size: 1rem;
  }
}

/* text */

.text {
  display: block;
  margin-bottom: 5%;
  max-width: 650px;
  padding: 2rem;
  width: 100%;
}

.text p {
  padding: 1rem 0;
}

@media (max-width: 850px) {

  .text {
    padding: 2rem;
  }
}

/* links */

.links {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.links a {
  padding: 0 1rem;
}
