@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/font/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: normal;
  src: url('../assets/font/Ubuntu-Italic.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/font/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: bold;
  src: url('../assets/font/Ubuntu-BoldItalic.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/font/Ubuntu-Light.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/font/Ubuntu-LightItalic.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/font/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: url('../assets/font/Ubuntu-MediumItalic.ttf');
}

:root {
  --background-primary: rgb(22, 24, 23);
  --background-primary-transparent: rgba(22, 24, 23, 0.9);
  --background-secondary: rgb(16, 18, 17);
  --background-secondary-transparent: rgba(16, 18, 17, 0.9);
  --box-shadow: 0 0 4px rgb(28, 30, 29);
  --color: rgb(245, 245, 245);
  --color-error: rgb(245, 0, 0);
  --color-placeholder: rgba(245, 245, 245, 0.5);
  --color-theme: rgb(0, 195, 165);
  --font-family: 'Ubuntu', sans-serif;
  --header-height: 80px;
  --sidebar-width: 240px;
  --transition: 0.25s;
}

* {
  margin: 0;
  padding: 0;
}

html {
  cursor: default;
}

body {
  background: var(--background-primary);
  color: var(--color);
  font-family: var(--font-family);
  font-weight: 300;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

p {
  line-height: 1.75;
}

a, a:active {
  color: var(--color-theme);
  font-weight: 400;
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  opacity: 0.75;
}

button {
  background: var(--color-theme);
  border: none;
  border-radius: 1em;
  font-family: var(--font-family);
  font-size: 1em;
  outline: none;
  transition: var(--transition);
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

input,
textarea,
select {
  background: var(--background-secondary);
  border: none;
  box-shadow: var(--box-shadow);
  color: var(--color);
  font-family: var(--font-family);
  outline: none;
}

textarea {
  line-height: 1.5;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-placeholder);
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}
