/* page */

.page {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
  margin-left: var(--sidebar-width);
  min-height: 100vh;
}

.page h1 {
  margin-bottom: 1.5em;
}

.page > div {
  margin-top: var(--header-height);
  padding-top: 4em;
}
